<!DOCTYPE html>
<html lang="en">

<head>
    <title>เกี่ยวกับ</title>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/navbar %>


        <div class="container-fluid">
            <div style="margin: 50px">
                <h4>เกี่ยวกับ</h4>
                <ul>
                    <li>พัฒนาโดย นายอุเทน จาดยางโทน</li>
                    <li>Email: tehnnn@gmail.com</li>
                    <li>Tel: 0812841147</li>
                </ul>

            </div>
        </div>

        <% include ./partials/lib %>
            <script>
                // start js code


                //end js code
            </script>


</body>

</html>