<!DOCTYPE html>
<html lang="en">

<head>
    <title>template</title>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/navbar %>


        <div class="container-fluid">
            <div id="map"></div>
        </div>

        <% include ./partials/lib %>
            <script>
                // start js code


                //end js code
            </script>


</body>

</html>