<!DOCTYPE html>
<html lang="en">

<head>
    <title>template</title>
    <% include ./partials/head %>
</head>

<body>



    <div class="container-fluid">
        <div id="map"></div>
    </div>

    <% include ./partials/lib %>
        <script>
            // start js code
            $(function() {
                L.mapbox.accessToken = 'pk.eyJ1IjoidGVobm5uIiwiYSI6ImNpZzF4bHV4NDE0dTZ1M200YWxweHR0ZzcifQ.lpRRelYpT0ucv1NN08KUWQ';
                var map = L.mapbox.map('map', 'mapbox.streets');
                map.setView([16.00, 100.00], 6);

                var popup = '<div id="container" style="min-width: 360px; min-height: 300px;">Loading...</div>';

                var pol = L.mapbox.featureLayer().loadURL('/data/plk_amp.json').addTo(map);
                pol.on('ready', function() {
                    map.fitBounds(pol.getBounds());
                    pol.eachLayer(function(layer) {
                        if (layer.feature.properties.AMP_CODE % 3 == 0) {
                            layer.setStyle({
                                fillColor: 'red',
                                dashArray: 3
                            });

                        } else if (layer.feature.properties.AMP_CODE % 2 == 0) {
                            layer.setStyle({
                                fillColor: 'yellow',
                                dashArray: 3
                            });
                        } else {
                            layer.setStyle({
                                fillColor: 'limegreen',
                                dashArray: 3
                            });
                        }
                        layer.bindPopup(popup, {
                            maxWidth: 'auto'
                        });
                        layer.on('popupopen', function() {
                            popupopen(layer.feature.properties.AMP_NAMT)
                        });
                        layer.on('popupclose', function(e) {
                            //$('#container').html("Loading...");
                        });

                    });
                });



                var popupopen = function(amp) {

                    $.ajax({
                        url: "test/chart",
                        type: "GET",
                    }).done(function(data) {

                        $('#container').highcharts({
                            title: {
                                text: 'แนวโน้มอัตราป่วยด้วยโรคที่มิยุงเป็นพาหะ'
                            },
                            subtitle: {
                                text: amp
                            },
                            credits: false,

                            yAxis: {
                                title: {
                                    text: 'อัตราต่อแสน'
                                }
                            },
                            legend: {
                                //layout: 'vertical',
                                //align: 'right',
                                verticalAlign: 'middle'
                            },

                            plotOptions: {
                                series: {
                                    pointStart: 2014
                                }
                            },
                            series: data
                        })
                    })

                };

            });

            //end js code
        </script>


</body>

</html>