<!doctype html>
<html lang="en">

<head>
    <title>Index</title>
</head>

<body>
    <h2>
        Index Page :
        <%=session.username%>
    </h2>
    <a href='/person'>รายการ Person</a>

</body>

</html>