body {
    width: 100%;
    margin: 0%;
}

.container-fluid {
    padding: 3px !important;
}

.map-title {
    width: 100%;
    height: 35px;
    padding: 3px;
    margin-bottom: 2px;
    color: whitesmoke;
    background-color: #696969
}

.map-toolbar {
    width: 100%;
    height: 35px;
    padding: 3px;
    margin-bottom: 2px;
    color: gray;
    background-color: white
}

#map {
    width: 100%;
    height: 86vh;
    border: 1px solid gray;
}